# Core libraries
pandas
numpy
scikit-learn

# Models
xgboost
lightgbm
tensorflow
keras

# Visualization
matplotlib
streamlit
streamlit-autorefresh
seaborn
plotly
altair

# API & environment
requests
python-dotenv

# Model persistence
joblib
